---
import { convertId } from '@/lib/parse'

import { Input } from '@/components/ui/input'
import { Button } from '@/components/ui/button'

import OctetSegment from '@/components/OctetSegment.astro'

const SUBMIT_BTN_CONVERT = 'Convert'
const SUBMIT_BTN_GENERATE = 'Generate'

export type Props = {
  rawValue: string
}

const { rawValue } = Astro.props
const convertResult = convertId(rawValue)

const displayValue = convertResult.valid ? convertResult.rawIdValue : ''
---

<main id='converter' class='max-w-screen-sm min-h-[22rem] mx-auto p-4'>
  <form
    hx-post='/partials/parse'
    hx-target='#converter'
    hx-swap='outerHTML'
    hx-push-url='true'
    class='grid md:grid-cols-[1fr_auto] items-center gap-2'>
    <Input
      id='rawValue'
      className='h-12 text-lg px-6'
      placeholder='UUID, Oracle RAW(16), Empty to generate UUIDv4'
      defaultValue={displayValue}
      name='rawValue'
      type='text'
      hx-on={`input: submitBtn.innerText = (event.target.value ? "${SUBMIT_BTN_CONVERT}" : "${SUBMIT_BTN_GENERATE}")`}
    />

    <Button id='submitBtn' className='h-12 text-lg rounded-md px-6 min-w-[14ch]' type='submit' aria-live='polite'>
      {displayValue ? SUBMIT_BTN_CONVERT : SUBMIT_BTN_GENERATE}
    </Button>
  </form>

  {
    !convertResult.valid && convertResult.error !== 'empty' && (
      <div
        role='alert'
        class='max-w-screen-sm mx-auto rounded-md text-sm text-center text-destructive bg-red-200/20 px-4 py-2 mt-2 dark:text-red-600 dark:bg-red-900/20'>
        <p>
          The value <span class='font-bold'>{rawValue}</span> is not a valid UUID format
        </p>
        {convertResult.message && <p class='mt-1'>{convertResult.message}</p>}
      </div>
    )
  }

  {
    convertResult.valid && (
      <section class='convert-results rounded-xl border bg-card text-card-foreground text-center shadow p-6 mt-4'>
        <h2 class='font-bold'>Standard UUID v4</h2>
        <p class='flex-inline flex-wrap items-center justify-center text-lg mb-4'>
          <OctetSegment octets={convertResult.uuidFormat.timeLow} class='time-low-segment' />
          <span class='py-[2px] text-muted-foreground'>-</span>
          <OctetSegment octets={convertResult.uuidFormat.timeMid} class='time-mid-segment' />
          <span class='py-[2px] text-muted-foreground'>-</span>
          <OctetSegment octets={convertResult.uuidFormat.timeHi} class='time-hi-segment' />
          <span class='py-[2px] text-muted-foreground'>-</span>
          <OctetSegment octets={convertResult.uuidFormat.clockHi} class='clock-hi-segment' />
          <span class='py-[2px] text-muted-foreground'>-</span>
          <OctetSegment octets={convertResult.uuidFormat.clockLow} class='clock-low-segment' />
          <span class='py-[2px] text-muted-foreground'>-</span>
          <OctetSegment octets={convertResult.uuidFormat.node} class='node-segment' />
        </p>

        <h3 class='font-bold'>Oracle RAW(16)</h3>
        <p class='flex-inline flex-wrap items-center justify-center text-lg mb-4'>
          <OctetSegment octets={convertResult.oracleFormat.timeLow} class='time-low-segment px-0' octet='px-[3px]' />
          <OctetSegment octets={convertResult.oracleFormat.timeMid} class='time-mid-segment px-0' octet='px-[3px]' />
          <OctetSegment octets={convertResult.oracleFormat.timeHi} class='time-hi-segment px-0' octet='px-[3px]' />
          <OctetSegment octets={convertResult.oracleFormat.clockHi} class='clock-hi-segment px-0' octet='px-[3px]' />
          <OctetSegment octets={convertResult.oracleFormat.clockLow} class='clock-low-segment px-0' octet='px-[3px]' />
          <OctetSegment octets={convertResult.oracleFormat.node} class='node-segment px-0' octet='px-[3px]' />
        </p>

        <h3 class='font-bold'>Unsigned Integers</h3>
        <p class='flex flex-wrap items-center justify-center text-lg'>
          <OctetSegment octets={convertResult.bytes.timeLow} class='time-low-segment px-0' octet='px-[3px]' />
          <OctetSegment octets={convertResult.bytes.timeMid} class='time-mid-segment px-0' octet='px-[3px]' />
          <OctetSegment octets={convertResult.bytes.timeHi} class='time-hi-segment px-0' octet='px-[3px]' />
          <OctetSegment octets={convertResult.bytes.clockHi} class='clock-hi-segment px-0' octet='px-[3px]' />
          <OctetSegment octets={convertResult.bytes.clockLow} class='clock-low-segment px-0' octet='px-[3px]' />
          <OctetSegment octets={convertResult.bytes.node} class='node-segment px-0' octet='px-[3px]' />
        </p>
      </section>
    )
  }
</main>
