---
import { type ConvertResult } from '@/lib/uuid/convert'
import OctetSegment from '@/components/converter/OctetSegment.astro'

export type Props = {
  result: ConvertResult
}

const { result } = Astro.props
---

<section class="uuid-segments mt-4 grid gap-4 rounded-lg border bg-card p-6 text-center text-card-foreground shadow">
  <article>
    <h2 class="mb-1 font-bold">Standard UUID v4</h2>
    <p class="break-words font-mono text-lg">
      <OctetSegment octets={result.uuidFormat.timeLow} class="time-low-segment" suffix="-" /><OctetSegment
        octets={result.uuidFormat.timeMid}
        class="time-mid-segment"
        suffix="-"
      /><OctetSegment octets={result.uuidFormat.timeHi} class="time-hi-segment" suffix="-" /><OctetSegment
        octets={result.uuidFormat.clockHi}
        class="clock-hi-segment"
      /><OctetSegment octets={result.uuidFormat.clockLow} class="clock-low-segment" suffix="-" /><OctetSegment
        octets={result.uuidFormat.node}
        class="node-segment"
      />
    </p>
  </article>

  <article>
    <h3 class="mb-1 font-bold">Oracle RAW(16)</h3>
    <p class="break-all font-mono text-lg">
      <OctetSegment octets={result.oracleFormat.timeLow} class="time-low-segment" /><OctetSegment
        octets={result.oracleFormat.timeMid}
        class="time-mid-segment"
      /><OctetSegment octets={result.oracleFormat.timeHi} class="time-hi-segment" /><OctetSegment
        octets={result.oracleFormat.clockHi}
        class="clock-hi-segment"
      /><OctetSegment octets={result.oracleFormat.clockLow} class="clock-low-segment" /><OctetSegment
        octets={result.oracleFormat.node}
        class="node-segment"
      />
    </p>
  </article>

  <article>
    <h3 class="mb-1 font-bold">Unsigned Integers</h3>
    <p class="flex flex-wrap justify-center gap-x-[4px] font-mono text-lg">
      <OctetSegment octets={result.bytes.timeLow} variant="exploded" class="time-low-segment" />
      <OctetSegment octets={result.bytes.timeMid} variant="exploded" class="time-mid-segment" />
      <OctetSegment octets={result.bytes.timeHi} variant="exploded" class="time-hi-segment" />
      <OctetSegment octets={result.bytes.clockHi} variant="exploded" class="clock-hi-segment" />
      <OctetSegment octets={result.bytes.clockLow} variant="exploded" class="clock-low-segment" />
      <OctetSegment octets={result.bytes.node} variant="exploded" class="node-segment" />
    </p>
  </article>
</section>
