---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <title>{title}</title>

    <meta charset='utf-8' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='generator' content={Astro.generator} />
    <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1' />

    <meta name='author' content='Omar Salinas' />
    <meta name='content-language' content='en' />
    <meta name='description' content='Parse, transform, and create UUIDv4 in multiple formats' />
    <meta name='keywords' content='uuid, v4, guid, generate, create, parse, transform, oracle, raw, id, tool' />

    <!-- <meta property='og:site_name' content={title} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content='website' />
    <meta property='og:locale' content='en_US' />
    <meta name='twitter:card' content='summary_large_image' /> -->

    <meta name='color-scheme' content='light' />
    <!-- <meta name='theme-color' content='#060506' /> -->

    <link rel='icon' href='/favicon.svg' />
    <!-- <link rel='mask-icon' href='/mask-icon.svg' color='#110e10' />
    <link rel='apple-touch-icon' href='/apple-touch-icon.png' /> -->

    <script is:inline src='/scripts/htmx.min.js'></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:inline>
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 5.9% 10%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;
      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;
      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;
      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }
</style>
