---
import '@/styles/global.css'

interface Props {
  title: string
}

const { title } = Astro.props
const description = 'Parse, transform, and generate UUIDs in multiple formats'
---

<!doctype html>
<html lang='en'>
  <head>
    <title>{title}</title>

    <meta charset='utf-8' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='generator' content={Astro.generator} />
    <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1' />

    <meta name='author' content='Omar Salinas' />
    <meta name='content-language' content='en' />
    <meta name='description' content={description} />
    <meta name='keywords' content='uuid, v4, guid, generate, create, parse, transform, oracle, raw, id, tool' />

    <meta property='og:site_name' content={title} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content='website' />
    <meta property='og:locale' content='en_US' />
    <!-- <meta name='twitter:card' content='summary_large_image' /> -->

    <meta name='color-scheme' content='dark light' />
    <meta name='theme-color' media='(prefers-color-scheme: light)' content='white' />
    <meta name='theme-color' media='(prefers-color-scheme: dark)' content='black' />

    <link rel='icon' href='/favicon.svg' />
    <!-- <link rel='mask-icon' href='/mask-icon.svg' color='#110e10' />
    <link rel='apple-touch-icon' href='/apple-touch-icon.png' /> -->

    <script is:inline src='/scripts/htmx.min.js'></script>
    <script is:inline src='/scripts/hyperscript.min.js'></script>

    <script is:inline>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body hx-ext='head-support'>
    <slot />
  </body>
</html>
